body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #16a085;
    color: #fff;
    padding: 20px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #16a085;
    text-decoration:  #16a085;;
}

nav a:hover {
    color: #fff;
    background-color: #16a085;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #16a085;
    color: #fff;
    padding: 5px;
    text-align: center;
  }
  #content {
	padding: 100px;	
}
.img-div {
    display: flex;
      justify-content: space-between;
  }
 
.d7 {background: #16a085;}
.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid  #16a085;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #16a085;
}

.center-img {
  display: block;
  margin: 0 auto;
  size: 300px;
}